/* Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
    display: block;
    margin: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Index */

#map {
  width: 500px;
  height: 500px;
}

/* Venue */

.venueOuterContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venueInnerContainer {
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.venueName {
  font-size: 50px;
  margin: 0px auto 10px auto;
}

.venueAddress {
  margin-bottom: 20px;
}

.venueStatus {
  font-weight: bold;
  color: red;
}

.venueHours {
  margin-bottom: 10px;
}

.venueConsensus {
  margin-bottom: 20px;
}

.venuePrice {
 margin-bottom: 20px;
}

.venueDescriptionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.venueDescriptionHeader {
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.description {
  margin-bottom: 5px;
}
